body {
    margin-top: 50px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

form {
    color: white;
    padding: 20px 40px 40px 40px;
    background-color: orange;
    border-radius: 20px;
}

button {
    text-align: center;
    background-color: #007aff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#resultado {
    margin-top: 25px;
    text-align: center;
}