body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    line-height: 2.5;
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
}

#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    background-color: #25D366;
    background-color: #5840ff;

}

input {
    font-size: 1em;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

textarea {
    font-size: 1.1em;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    border: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#myButton {
    color: white;
    background-color: #25D366;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin-top: 25px;
    font-size: 1em;
}

#myButton:hover {
    background-color: #1fb556;
    cursor: pointer;
}