table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    font-family: Lato;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 16px;
}